body {
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: #0078d4;
    width: 100vw;
    height: 100px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.nav-content {
    width: 1300px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar > .nav-content > .logo {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
	height: 100%;
}

.navbar > .nav-content > .logo > img {
    height: 100px;
    width: 100px;
}

.navbar > .nav-content > .logo > .head > h4 {
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
	width: 30%;
}

button{
    outline: none;
}

.button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #0078d4;
    color: white;
    margin: 10px;
    outline: none;
}

.button:hover {
    background-color: #0265b1;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    margin: 20px auto;
    height: 80%;
}

main > .content {
    display: flex;
    flex-wrap: nowrap;
    width: 1300px;
    margin: 0 auto;
    justify-content: center;
}

.item > img {
    width: 100%;
    height: 100%;
}

.carousel {
    width: 60%;
    height: 80%;
    margin-right: 20px;
}

main > .content > .notices {
    width: 30%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main > .content > .notices > h3 {
    width: 100%;
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > .content > .notices > ul {
    list-style-type: none;
    height: 80%;
    text-align: center;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

main > .content > .notices > ul > li {
    width: 100%;
    margin: 10px;
}

#about-us {
    background-color: rgb(216, 216, 216);
    text-align: center;
	width: 100vw;
	height: 350px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#about-us > h3{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-us > article{	
	height: 80%;
	width: 60%;
	font-size: 16px;
}

#colleges{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#colleges > h3 {
    width: 100vw; 
    text-align: center;
}

#colleges > ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

#colleges > ul > li {
    font-size: 18px;
}

.login-popup{
    position: absolute;
    top: 120px;
    left: 400px;
    background-color: white;
    display: none;
    transform: translateY(-150%);
}

.login-popup > .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;           
    padding: 30px;
    width: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.login-popup > .container > .img-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-popup > .container > .img-div > .image{
    width: 100%;
    text-align: center;    
}

.login-popup > .container > .other-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-popup > .container > .other-content > h3{
    width: 100%;
    text-align: center;
}

.login-popup > .container > .other-content > .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.login-popup > .container > .other-content > .inputs > label, input{
    width: 100%;
    padding: 10px;
}

.cancel{
    text-align: end; 
    width: 100%;
    cursor: pointer;
}

.login-pop-animation{
   display: block;
   animation: popup 0.8s;
   animation-fill-mode: forwards;
   transition: all;
}

 @keyframes popup{
     0%{
         transform: translateY(-100%);
     }
     100%{
         transform: translateY(0%);
     }
} 