.data-filter {
    display: flex;
    flex-wrap: nowrap;
    width: 1200px;
    margin: 0 auto;
}

table {
    font-size: 0.8em;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

tr:nth-child(2n) {
	width: 15%;
	background-color: azure;
}

.filters{
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	height: 400px;
	border: 2px solid;
}

.filters > h2{
	width: 100%;
	border: 2px solid;
	height: 10%;
}

